.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 81vh;
}
.logo {
  float: left;
  margin: 6px 24px 16px 0;
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
