.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 81vh;
}
.ant-layout-content {
  padding: 0 50px;
  margin-top: 64px;
}

@media only screen and (max-width: 600px) {
  .ant-layout-content {
    padding: 0 0px;
  }
}

.logo {
  float: left;
  margin: 4px 24px 16px 0;
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.git:hover {
  background-color: #fff;
}

ul {
  text-align: center;
  margin: 30px 10;
  padding-left: 0px;
}

.graphPanel ul li {
  display: inline-block;
  width: 50%;
  font-size: 12px;
  font-weight: bold;
  color: #696160;
}

.graphPanel:hover {
  background-color: #fafafa;
}
